@{
    ViewBag.Title = "Education";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <h1>Eduactional Background</h1>
    <br />
    <h3>HSC : </h3>
    <table>
        <tr>
            <td> Institute : </td>
            <td> @ViewBag.HscI</td>
        </tr>
        <tr>
            <td>Year : </td>
            <td>@ViewBag.HscY</td>
        </tr>
        <tr>
            <td>Grade : </td>
            <td>@ViewBag.HscG</td>
        </tr>
        <tr>
            <td>Result : </td>
            <td>@ViewBag.HscR</td>
        </tr>

    </table>
    <br />
    <h3>SSC : </h3>
    <table>
        <tr>
            <td> Institute : </td>
            <td> @ViewBag.SscI</td>
        </tr>
        <tr>
            <td>Year : </td>
            <td>@ViewBag.SscY</td>
        </tr>
        <tr>
            <td>Grade : </td>
            <td>@ViewBag.SscG</td>
        </tr>
        <tr>
            <td>Result : </td>
            <td>@ViewBag.SscR</td>
        </tr>

    </table>



</body>
</html>
